/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.6.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: controle_veiculos
-- ------------------------------------------------------
-- Server version	11.6.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `baixas`
--

DROP TABLE IF EXISTS `baixas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `baixas` (
  `id` int(11) NOT NULL,
  `placa` varchar(100) NOT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `modelo` varchar(100) DEFAULT NULL,
  `cor` varchar(50) DEFAULT NULL,
  `renavan` varchar(255) DEFAULT NULL,
  `unidade` varchar(30) NOT NULL,
  `motivo` varchar(255) NOT NULL,
  `data_registro` timestamp NOT NULL,
  `observacoes` varchar(255) DEFAULT NULL,
  `valor_meio_acesso` varchar(255) DEFAULT NULL,
  `tag` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `liberacoes`
--

DROP TABLE IF EXISTS `liberacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `liberacoes` (
  `id` int(11) NOT NULL,
  `unidade` varchar(30) NOT NULL,
  `solicitante` varchar(255) NOT NULL,
  `motivo` varchar(255) NOT NULL,
  `placa` varchar(100) NOT NULL,
  `marca` varchar(100) DEFAULT NULL,
  `modelo` varchar(100) DEFAULT NULL,
  `cor` varchar(50) DEFAULT NULL,
  `data_registro` timestamp NOT NULL,
  `observacoes` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `movimentacao_veiculo`
--

DROP TABLE IF EXISTS `movimentacao_veiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movimentacao_veiculo` (
  `id` int(11) NOT NULL,
  `data_alteracao` timestamp NULL DEFAULT NULL,
  `data_registro` timestamp NOT NULL,
  `data_movimentacao` timestamp NOT NULL,
  `meio_acesso` varchar(12) NOT NULL,
  `sentido` varchar(2) NOT NULL,
  `id_unidade_destino` int(11) DEFAULT NULL,
  `id_equipamento_acesso` int(11) NOT NULL,
  `id_veiculo_acesso` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `unidade`
--

DROP TABLE IF EXISTS `unidade`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `unidade` (
  `id` int(11) NOT NULL,
  `data_alteracao` timestamp NULL DEFAULT NULL,
  `data_registro` timestamp NOT NULL,
  `status` varchar(2) NOT NULL DEFAULT 'AT',
  `ar_reference` varchar(36) DEFAULT NULL,
  `descricao_` varchar(50) DEFAULT NULL,
  `ramal` varchar(6) DEFAULT NULL,
  `necessita_autorizacao` tinyint(1) DEFAULT NULL,
  `id_unidade_parent` bigint(20) DEFAULT NULL,
  `id_unidade_tipo` bigint(20) NOT NULL DEFAULT 2,
  `abl_reference` varchar(30) DEFAULT NULL,
  `id_unidade_principal` bigint(20) DEFAULT NULL,
  `vagas` varchar(255) NOT NULL DEFAULT '0',
  `box` int(11) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `telefone` varchar(255) DEFAULT NULL,
  `qtd_veiculos` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `veiculo`
--

DROP TABLE IF EXISTS `veiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `veiculo` (
  `id` int(11) NOT NULL,
  `data_alteracao` timestamp NOT NULL,
  `data_registro` timestamp NOT NULL,
  `ano` varchar(4) DEFAULT NULL,
  `observacao` varchar(255) DEFAULT NULL,
  `cor` varchar(30) NOT NULL,
  `marca` varchar(30) NOT NULL,
  `modelo` varchar(30) NOT NULL,
  `placa` varchar(7) NOT NULL,
  `veiculo_status` varchar(2) NOT NULL,
  `valor_meio_acesso` varchar(30) NOT NULL,
  `id_unidade` int(11) DEFAULT NULL,
  `id_veiculo_tipo` bigint(20) DEFAULT 1,
  `renavan` varchar(255) DEFAULT NULL,
  `unidade` varchar(255) DEFAULT NULL,
  `observacoes` varchar(255) DEFAULT '',
  `ano_modelo` varchar(4) DEFAULT NULL,
  `fipe` varchar(255) DEFAULT NULL,
  `tag` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `venda`
--

DROP TABLE IF EXISTS `venda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `venda` (
  `id` int(11) NOT NULL,
  `unidade` varchar(20) NOT NULL,
  `placa` varchar(100) NOT NULL,
  `marca` varchar(100) NOT NULL,
  `modelo` varchar(100) NOT NULL,
  `cor` varchar(50) NOT NULL,
  `renavan` varchar(255) NOT NULL,
  `vendedor` varchar(30) NOT NULL,
  `comprador` varchar(30) NOT NULL,
  `valor_venda` varchar(25) NOT NULL,
  `tipo_venda` varchar(25) DEFAULT NULL,
  `instituicao` varchar(25) DEFAULT NULL,
  `valor_fipe` varchar(25) DEFAULT NULL,
  `valor_entrada` varchar(25) DEFAULT NULL,
  `valor_financiamento` varchar(25) DEFAULT NULL,
  `observacoes` varchar(255) DEFAULT NULL,
  `data_registro` timestamp NOT NULL,
  `bairro` varchar(255) DEFAULT NULL,
  `cep` varchar(255) DEFAULT NULL,
  `cidade` varchar(255) DEFAULT NULL,
  `cpf` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `endereco` varchar(255) DEFAULT NULL,
  `estado` varchar(255) DEFAULT NULL,
  `nascimento` varchar(255) DEFAULT NULL,
  `rg` varchar(255) DEFAULT NULL,
  `rua` varchar(255) DEFAULT NULL,
  `telefone` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vendedor`
--

DROP TABLE IF EXISTS `vendedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendedor` (
  `id` int(11) NOT NULL,
  `unidade` varchar(20) NOT NULL,
  `nome` varchar(30) DEFAULT NULL,
  `email` varchar(30) DEFAULT NULL,
  `telefone` varchar(30) DEFAULT NULL,
  `data_registro` timestamp NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-02-21 10:34:37
